.form-group {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
   
}

.btn-back {


margin-top : 20px;
margin-right: 300px;

}
.btn-submit {
    margin-top: 20px;
}

label{

float: left;
margin-bottom: 10px;
margin-top: 10px;

}
.Field {
    margin-top: 40px;
}